.CodeMirror-wrap .CodeMirror-code pre {
	font-family: Fira Code Semibold, Source Code Pro Semibold, Courier New;
}

body {
	--monospace: Source Code Pro Semibold;
	-webkit-font-smoothing: antialiased;
	font-family: Cambria;
}

code {
  font-family: Fira Code Semibold, Source Code Pro Semibold, Courier New;
}

#write {
	font-family: Cambria;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Cambria;
}